
{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{post[1].img_url}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{post[1].title}}</h1>
            <h2 class="subheading">{{post[1].subtitle}}</h2>
            <span class="meta">Posted by
              <a href="#">{{post[0].name}}</a>
              on {{post[1].date}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{ post[1].body|safe }}
          <hr>

            <div class="clearfix">
              {% if current_user.is_authenticated and current_user.id == 1 %}
                <a class="btn btn-primary float-right" href="{{url_for('edit_post', post_id=post[1].id)}}">Edit Post</a>
              {% endif %}
            </div>


<!--           Comments Area -->
          <div>
            <h1> User Comments </h1>
            <br>
                        {% for comment in all_comments %}
                         {{ comment[0].comment_text }}
                          <br>
                        <span class="date sub-text">
                          {% if comment[1].name %}
                           {{ comment[1].name }}
                          {% else %}
                           Anonymous
                          {% endif %}

                        </span>
                          <br>
                          <br>
                        {% endfor %}


                    <div class="commenterImage">


                      <img src="https://pbs.twimg.com/profile_images/744849215675838464/IH0FNIXk.jpg"/>
                    </div>

                      {{ ckeditor.load() }}
                      {{ ckeditor.config(name='body') }}
                      {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"  }) }}


            </div>


          </div>
      </div>
    </div>
  </article>

  <hr>
{% include "footer.html" %}
{% endblock %}